body{
  background-color:azure;
}
p {
  font-size: 18px;
  text-align: center;
  background-color: rgb(255, 0, 0);
}

div {
  font-size:18px;
  text-align: center;
}

button{
  font-size: 14px;
}

#textInput {
  padding: 10px;
  border: 2px solid #ccc;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}